/*HELLO*/

body {
	font-family: Oswald;
}

x-card {
    overflow: auto !important
}

.pagetitle {
	font-size: 48pt;
}

.statrow {
	font-size: 32pt;
	padding-top: 18px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.numericCell {
	text-align: right;
	padding: 10px;
}

x-appbar h1 {
	font-family: Oswald;
}

x-tabbar-tab {
	font-family: Oswald;
	border-right: solid 1px white;
}

x-tabbar-tab[selected] {
	background-color: #00405D;
}
x-tabbar-tab[selected]:hover {
	background-color: #00405D;
}

.barchart div {
	background: lightgray;
	color: white;
	box-sizing: border-box;
	padding: .5em;
	font-size: 14px;
	margin-bottom: 2px;
	text-align: right;
	position: relative;
}

.barchart .label {
 	text-overflow: ellipsis;
 	color: black;
	position: absolute;
	left: .5em;
}