/*HELLO*/

body {
	font-family: Oswald;
}

x-card {
    overflow: auto !important
}

.pagetitle {
	font-size: 48pt;
}

.statrow {
	font-size: 32pt;
	padding-top: 18px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.barchart div {
	background: darkblue;
	color: white;
	box-sizing: border-box;
	padding: .5em;
	font-size: 14px;
	margin-bottom: 2px;
	text-align: right;
	position: relative;
}

.barchart .label {
	text-wrap: none;
	color: white;
	position: absolute;
	left: .5em;
}