<html ng-app='thecountApp'>
	<head>
		<title>The Count</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

		<link rel="shortcut icon" href="./thecount.jpg" type="image/x-icon" />        

        <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" rel="stylesheet" type="text/css" href="./app.css" />
        <link rel="stylesheet" rel="stylesheet" type="text/css" href="./brick-1.0.0/brick-1.0.0.css" />
	</head>

	<body ng-controller='AppListCtrl'>
		<x-layout>
			<x-appbar>
				<h1>The Count - {{apps.length | number}} apps</h1>
			</x-appbar>
			<section>
				<x-deck selected-index="0">
					<x-card data-appbar-title='overview'>
						<h2>categories</h2>

						<div class='categoriesChart barchart'> </div>

						<h2>average of >5 ratings</h2>

						<div class='averageRatingChart barchart'> </div>
						
						<div class='statrow'>
							<span>{{(apps|filter:{app_type: 'hosted'}).length | number}} hosted</span> | 
							<span>{{(apps|filter:{app_type: 'packaged'}).length | number}} packaged/unpriv</span> | 
							<span>{{(apps|filter:{app_type: 'privileged'}).length | number}} packaged/privileged</span>
						</div>

						<div class='statrow'>
							<span>{{(apps|filter:{device_types:'desktop'}).length | number}} desktop</span> |
							<span>{{(apps|filter:{device_types:'android-tablet'}).length | number}} tablet</span> |
							<span>{{(apps|filter:{device_types:'android-mobile'}).length | number}} mobile</span> |
							<span>{{(apps|filter:{device_types:'firefoxos'}).length | number}} firefox os</span>
						</div>

						<div class='statrow'>
							<span>{{(apps|filter:{premium_type:'free'}).length | number}} free</span> |
							<span>{{(apps|filter:{premium_type:'premium'}).length | number}} paid</span> |
							<span>{{(apps|filter:{premium_type:'free-inapp'}).length | number}} free w/in-app</span> |
							<span>{{(apps|filter:{premium_type:'premium-inapp'}).length | number}} paid w/in-app</span>
						</div>	
					</x-card>

					<x-card data-appbar-title='permissions'>
						<h2>permissions</h2>

						<div class='permissionsChart barchart'> </div>
					</x-card>

					<x-card data-appbar-title='locales'>
						<h2>locales</h2>
						<div class='localeFrequencyChart barchart'> </div>

						<h2>regions</h2>
						<div class='regionFrequencyChart barchart'> </div>
					</x-card>

					<x-card data-appbar-title='package sizes'>
						<h2>package sizes</h2>
						<div class='packageSizesChart barchart'> </div>
					</x-card>

					<x-card data-appbar-title='authors'>
						<h2>authors</h2>
						<div class='authorsChart barchart'> </div>
					</x-card>

					<x-card data-appbar-title='libraries'>
						<h2>libraries</h2>
						<div class='librariesChart barchart'> </div>

						<h2>unknown files</h2>
						<div class='filenamesChart barchart'> </div>
					</x-card>

					<x-card data-appbar-title='table'>
						<a href="" ng-click="filterPredicate = ''">Reset</a>
						<table>
						<thead>
						<tr>
							<td>id</td>
							<td><a href="" ng-click="predicate = 'author'; reverseSort = !reverseSort">author</a></td>
							<td><a href="" ng-click="predicate = 'app_type'; reverseSort = !reverseSort">type</a></td>
							<td><a href="" ng-click="predicate = 'premium_type'; reverseSort = !reverseSort">payment</a></td>
							<td><a href="" ng-click="predicate = 'ratings.count'; reverseSort = !reverseSort"># ratings</a></td>
							<td><a href="" ng-click="predicate = 'ratings.average'; reverseSort = !reverseSort">avg ratings</a></td>
							<td><a href="" ng-click="predicate = 'size'; reverseSort = !reverseSort">size</a></td>
							<td><a href="" ng-click="predicate = 'tara_status'; reverseSort = !reverseSort">tara status</a></td>
							<td><a href="" ng-click="predicate = 'created'; reverseSort = !reverseSort">created</a></td>
						</tr>
						</thead>
						<tr ng-repeat='app in apps | filter:filterPredicate | orderBy:predicate:reverseSort'>
							<td><a target='_blank' href='http://marketplace.firefox.com/app/{{app.slug}}'>{{firstAppName(app)}}</a></td>
							<td><a href="" ng-click="$parent.filterPredicate = app.author">{{app.author}}</a></td>
							<td>{{app.app_type}}</td>
							<td>{{app.premium_type}}</td>
							<td>{{app.ratings.count|number}}</td>
							<td>{{app.ratings.average|number}}</td>
							<td>{{app.size|number}}</td>
							<td>{{app.tara_status}}</td>
							<td>{{app.created}}</td>
						</tr>
						</table>
					</x-card>
				</x-deck>
			</section>

			<div class='footer'>
				<img src='thecount.jpg' />
			</div>

		    <footer>
			    <x-tabbar>
			        <x-tabbar-tab target-selector="x-deck x-card:first-child">Overview</x-tabbar-tab>
			        <x-tabbar-tab target-selector="x-deck x-card:nth-child(2)">Permissions</x-tabbar-tab>
			        <x-tabbar-tab target-selector="x-deck x-card:nth-child(3)">Locales</x-tabbar-tab>
			        <x-tabbar-tab target-selector="x-deck x-card:nth-child(4)">Package Size</x-tabbar-tab>
			        <x-tabbar-tab target-selector="x-deck x-card:nth-child(5)">Authors</x-tabbar-tab>
			        <x-tabbar-tab target-selector="x-deck x-card:nth-child(6)">Libraries</x-tabbar-tab>
			        <x-tabbar-tab target-selector="x-deck x-card:nth-child(7)">Table</x-tabbar-tab>
			    </x-tabbar>
		    </footer>
		</x-layout>

		<script src="https://cdn.jsdelivr.net/d3js/3.0.4/d3.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/jquery/1.10.2/jquery-1.10.2.js" > </script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js" > </script>
	    <script src="./brick-1.0.0/brick-1.0.0.js" > </script>
	    <script src="./marketplace.js" > </script>
	    <script src="./app.js" > </script>

	</body>
</html>
