extend layout

block content
  h2 #{title}

  div(class='barchart distribution')
  div(class='histogram')

  script(type='text/javascript').
    $(document).ready(function() {
      createHistogram(!{JSON.stringify(values)});
    });

