extend layout

block content
  h2 #{title}

  h3 Frequency of #{title} among #{numeral(total).format('0,0')} apps

  div(class='barchart frequency')

  script(type='text/javascript').
    $(document).ready(createFrequencyGraph('frequency', !{JSON.stringify(chartData)}));
