extend layout

block content
  h2 #{title}

  h3 Total #{total}

  div(class='barchart frequency')

  script(type='text/javascript').
    $(document).ready(createFrequencyGraph('frequency', !{JSON.stringify(chartData)}));
