extend layout

block content
	h2 Home

	h3 Global stats

	div #{numeral(globalStatistics.appCount).format('0,0')} Apps
	div #{numeral(globalStatistics.authorCount).format('0,0')} Authors
	div #{numeral(globalStatistics.ratingCount).format('0,0')} User Ratings

	h3 Interesting catalog queries

	div
		a(href="/listing/min_ratings/30") apps with at least 30 ratings

	div
		a(href="/listing/max_ratings/30") apps with at most 30 ratings

	div
		a(href='/listing/author/Mippin') games by Mippin

	div
		a(href='/listing/days_old/10') apps reviewed in the last ten days

	div
		a(href='/listing/library/Cordova') apps using PhoneGap/Cordova		

	div
		a(href='/listing/errors') apps whose data could not retrieved				

	div
		a(href='/listing/activity/share') apps that support 'share' mozActivity						

	div
		a(href='/listing/appcache') apps that use appcache								

	h3 Locallly installed apps
	
	div#installed-app-list