extend layout

block content
	h2 Home

	h3 Interesting catalog queries

	div
		a(href="/listing/min_ratings/30") apps with at least 30 ratings

	div
		a(href="/listing/max_ratings/30") apps with at most 30 ratings

	div
		a(href='/listing/author/Mippin') games by Mippin

	div
		a(href='/listing/days_old/10') apps reviewed in the last ten days

	div
		a(href='/listing/library/Cordova') apps using PhoneGap/Cordova		