extend layout

block content
	h2 Home

	h3 Interesting catalog queries

	div
		a(href="/listing/num_ratings/30") apps with at least 30 ratings

	div
		a(href='/listing/author/Mippin') games by Mippin

