doctype html
html
  head
    title #{title} - TheCountStore

    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')

    link(rel="shortcut icon",href="/images/thecount.png",type="image/png")
    link(rel="stylesheet",href="/stylesheets/bootstrap.css")
    link(rel="stylesheet",href="/stylesheets/barchart.css")

  body
    div(class='navbar navbar-inverse navbar-fixed-top')
      .container
        .navbar-header
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
            span(class='sr-only')
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand', href="/home") TheCount
        div(class='collapse navbar-collapse')
          ul(class='nav navbar-nav')
            li.dropdown
              a(href='#', class='dropdown-toggle', data-toggle='dropdown') ratings
                b.caret
              ul(class='dropdown-menu')
                li
                  a(href='/distribution/rating_count') rating count
                li
                  a(href='/distribution/rating') average rating
            li.dropdown
              a(href='#', class='dropdown-toggle', data-toggle='dropdown') discovery
                b.caret
              ul(class='dropdown-menu')
                li
                  a(href='/frequency/category') category
                li
                  a(href='/frequency/author') author
                li
                  a(href='/frequency/locale') locale
                li
                  a(href='/frequency/region') region
                li
                  a(href='/pie/installs_allowed_from') installs_allowed_from
            li.dropdown
              a(href='#', class='dropdown-toggle', data-toggle='dropdown') tech
                b.caret
              ul(class='dropdown-menu')
                li
                  a(href='/frequency/library') library
                li
                  a(href='/distribution/package_size') package size
                li
                  a(href='/frequency/icon_sizes') icon sizes
                li
                  a(href='/frequency/permission') permission
                li
                  a(href='/frequency/activity') activity

    script(src="//cdn.jsdelivr.net/jquery/1.10.2/jquery-1.10.2.js")
    script(src="//cdn.jsdelivr.net/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="//cdn.jsdelivr.net/d3js/3.4.6/d3.min.js")
    script(src="/scripts/installHelpers.js")    
    script(src="/scripts/d3Helpers.js")    

    .container
      div(style='margin-top: 60px')
      .main-content
        block content
      .sidebar
        block sidebar
