.barchart div {
  background: lightgray;
  color: white;
  box-sizing: border-box;
  padding: .5em;
  font-size: 14px;
  margin-bottom: 2px;
  text-align: right;
  position: relative;
}

.barchart .label {
  text-overflow: ellipsis;
  color: black;
  position: absolute;
  left: -1em;
}

.barchart .packaged { background-color: green; }
.barchart .privileged { background-color: yellow; }

.barchart .alarms { background-color: green; }
.barchart .audio-capture { background-color: green; }
.barchart .audio-channel-content { background-color: green; }
.barchart .audio-channel-normal { background-color: green; }
.barchart .desktop-notification { background-color: green; }
.barchart .fmradio { background-color: green; }
.barchart .geolocation { background-color: green; }
.barchart .push { background-color: green; }
.barchart .storage { background-color: green; }
.barchart .video-capture { background-color: green; }

.barchart .push { background-color: yellow; }
.barchart .audio-channel-alarm { background-color: yellow; }
.barchart .audio-channel-notification { background-color: yellow; }
.barchart .browser { background-color: yellow; }
.barchart .contacts { background-color: yellow; }
.barchart .device-storage-music { background-color: yellow; }
.barchart .device-storage-pictures { background-color: yellow; }
.barchart .device-storage-videos { background-color: yellow; }
.barchart .device-storage-sdcard { background-color: yellow; }
.barchart .keyboard { background-color: yellow; }
.barchart .mobilenetwork { background-color: yellow; }
.barchart .systemXHR { background-color: yellow; }
.barchart .tcp-socket { background-color: yellow; }


.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

td {
  padding-right: 20px; padding-top: 5px;
}

