.barchart div {
  background: lightgray;
  color: white;
  box-sizing: border-box;
  padding: .5em;
  font-size: 14px;
  margin-bottom: 2px;
  text-align: right;
  position: relative;
}

.barchart .label {
  text-overflow: ellipsis;
  position: absolute;
}

.barchart .outside-label {
  fill: steelblue;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

td {
  padding-right: 20px; padding-top: 5px;
}

